
.mutti {
    display: flex;
    background-color: palevioletred;
    justify-content: space-between;
    height: 40vh;
}

.mutti article {
    background-color: yellowgreen;
    outline: 1px red solid; 
}

.child1 {
    flex: 1;
   }

.child2 {
    flex: 3;
   }
 .child3 {
    flex: 1;
   }