body {
    background-color:white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4 {
    margin: 0;
}


/******* hier sind alle globale Werte drin ****/


header {
    background-color: black;
    color: white;
    height: 5vh; /* 10% der Viewport Höhe */
}

.hero {
    background-color:mediumturquoise;
    height: 70vh;
    background-image: url(images/bild1.jpg);
    background-size: cover;
    background-position: center center; /* x mittig, y mittig */
    position: relative;
}
.hero>h1 {
    position: absolute;
    left: 10vw;
    top:30vh;
    color: white;
    font-size: 3vw;
}
.hero>h2 {
    position: absolute;
    left: 10vw;
    top:35vh;
    color:#003366;
    font-size: 2vw;
    font-weight: 300;
}


.frame {
    width: 80vw;
    margin: auto auto; /* das meint links und rechts */
}

footer {
    background-color: black;
    color: white;
}