body {
    background-color:white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4 {
    margin: 0;
}


/******* hier sind alle globale Werte drin ****/


header {
    background-color: black;
    color: white;
    height: 5vh; /* 10% der Viewport Höhe */
}
.textcenter {text-align: center;}


.hero {
    background-color:mediumturquoise;
    height: 70vh;
    background-image: url(images/bild1.jpg);
    background-size: cover;
    background-position: center center; /* x mittig, y mittig */
    position: relative;
}
.hero>h1 {
    position: absolute;
    left: 10vw;
    top:30vh;
    color: white;
    font-size: 3vw;
}
.hero>h2 {
    position: absolute;
    left: 10vw;
    top:35vh;
    color:#003366;
    font-size: 2vw;
    font-weight: 300;
}


.frame {
    width: 80vw;
    margin: auto auto; /* das meint links und rechts */
}

.flex {
    display: flex; /* macht kinder nebeneinander */
    justify-content: space-between;
}

.bkgr_color1 {background-color: #eeeeee;}
.bkgr_color2 {background-color: orangered;}
.bkgr_color3 {background-color:#333333;}
.bkgr_color4 {background-color:#000000;}
.color1 {color: #eeeeee;}
.color2 {color: orangered;}
.color3 {color:#333333;}
.shadow {
    -webkit-box-shadow: 0 5px 4px 4px #C4C4C4;
    box-shadow: 0 5px 4px 4px #C4C4C4;
}
.padding1 {padding: 3vw;}
.profil1 {
    border-radius: 100vw;
    width: 15vw;
    border: 0.25vw solid #ffffff;
}


footer {
    background-color: black;
    color: white;
}